<app-seller-header></app-seller-header>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="" method="">
                <div class="form-group">
                    <label for="itemName">Item Name</label>
                    <input mdbInput type="text" class="form-control" name="itemName" required>
                </div>
                <div class="form-group">
                    <label for="itemPrice">Item Price</label>
                    <input mdbInput type="number" class="form-control" name="itemPrice" required>
                </div>
                <div class="form-group">
                    <label for="itemDetails">Item Details</label>
                    <textarea mdbInput type="text" class="form-control" name="itemDetails"></textarea>
                </div>
                <label for="itemImage">Item Image</label>
                <div class="custom-file mb-4">
                    <input type="file" class="custom-file-input" name="itemImage">
                    <label class="custom-file-label" for="itemImage">Choose Item Image</label>
                </div>
                <div class="float-right">
                    <button type="submit" mdbBtn class="btn btn-success" style="width: 100px;">Save</button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
